<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/vonatokLines.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Vonatok / H9</title>
    <link rel="icon" type="image/png" href="../icons/favicon.png">
    <meta name="description" content="Motorkocsik pályaszáma a H9-es HÉV vonalán">
</head>
<body>
  <header>
    <nav class="navbar bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
      <div class="container-sm">
        <h1 class="navbar-brand Hev9">MXA Motorkocsik-H9</h1>
        <h3 class="navbar-brand Hev9">Összesen: <%= vehiclesH9.length %> szerelvény</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">H9-es HÉV</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <h5><a class="nav-link menu-items" href="/home">Vissza a főoldalra</a></h5>
              </li>                  
              <%# Select tripHeadsign %>
              <li class="custom-form">
                  <form action="/home/vonatokH9" method="POST">
                      <label for="directionSelect">Végállomás:</label>
                      <select id="directionSelect" name="selectedDirectionH9" class="custom-select">
                          <option value="">Összes szerelvény</option>
                          <option value="Örs vezér tere">Örs vezér tere</option>
                          <option value="Csömör">Csömör</option>
                      </select>
                      <button type="submit" class="custom-button">OK</button>
                  </form>                        
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div id="vehicles-container" class="container-lg">
      <% const filteredVehicles = selectedDirectionH9 ? vehiclesH9.filter(vehicle => vehicle.tripHeadsign === selectedDirectionH9) : vehiclesH9; %>

      <% filteredVehicles.forEach(vehicle => { %>
          <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title font">
                    <button type="button" onclick="toggleInfo('<%= vehicle.licensePlate %>')"><%= vehicle.licensePlate %></button>

                    <%# ExtraInfo section to be toggled %>
                    <div id="extraInfo<%= vehicle.licensePlate %>" style="display: none;">
                        <% if (!vehicle.licensePlate.includes('-')) { %>
                            3-as szerelvény, <span type="button"><%= vehicle.label %></span>
                        <% } else { %>
                        <p type="button"><%= vehicle.label %></p>
                        <% } %> 
                    </div>
                </h5>
              </div>
              <div class="card-body">
                  <p class="card-text">
                      <b>
                          Jelenleg <span class="stopName"><%= vehicle.stopName %></span>
                          <% if (vehicle.status === 'IN_TRANSIT_TO') { %>
                              megálló felé közlekedik
                          <% } else { %>
                              megállóban áll
                          <% } %>
                      </b>
                  </p>
                  <!-- <p class="card-text">
                      <%# if (vehicle.tripHeadsign == 'Szentendre') { %>
                          <img src="../icons/celfilmekH5/Endre.png" alt="Szentendre" class="celfilm">
                      <%# } else if (vehicle.tripHeadsign === 'Békásmegyer') { %>
                          <img src="../icons/celfilmekH5/Bekas.png" alt="Békásmegyer" class="celfilm">
                      <%# } else if (vehicle.tripHeadsign === 'Batthyány tér') { %>
                          <img src="../icons/celfilmekH5/Bter_old.png" alt="Batthyány tér" class="celfilm">
                      <%# } %>
                  </p> -->
                  
                  <!-- Collapsible section for Stops -->
                  <% const vehicleStops = stopsByVehicleH9[vehicle.vehicleId] || []; %>
                  <% let validPredictedArrivalTimeExists = vehicleStops.some(stop => stop.predictedArrivalTime !== "Invalid Date"); %>

                  <% if (validPredictedArrivalTimeExists) { %>
                      <div class="accordion" id="accordionStops<%= vehicle.index %>">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingStops<%= vehicle.index %>">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStops<%= vehicle.index %>" aria-expanded="true" aria-controls="collapseStops<%= vehicle.index %>">
                                      Menetrend
                                  </button>
                              </h2>
                              <div id="collapseStops<%= vehicle.index %>" class="accordion-collapse collapse" aria-labelledby="headingStops<%= vehicle.index %>" data-bs-parent="#accordionStops<%= vehicle.index %>">
                                  <div class="accordion-body">
                                      <table class="table stop-table pt-5">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Megálló</th>
                                                  <th scope="col">Érkezési idő</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <% vehicleStops.forEach(stop => { %>
                                                  <tr>
                                                      <td class="stops-lineH9">
                                                          <%# colored circle %>
                                                          <span class="circle-iconH9"></span>
                                                          <%# StopName colored when arriving to stop%>
                                                          <% if (vehicle.stopSequence > stop.stopSequence && vehicle.status === 'IN_TRANSIT_TO') { %>
                                                              <% if (stop.predictedArrivalTime !== "Invalid Date") { %>
                                                                  <span class="leftstopsH9"><%= stop.stopId %></span>
                                                                  <td><span class="leftstopsH9"><%= stop.predictedArrivalTime %></span></td>
                                                              <% } else { %>
                                                                  <span class="leftstopsH9"><%= stop.stopId %></span>
                                                                  <td><span class="leftstopsH9"><%= stop.predictedDepartureTime %></span></td>
                                                              <% } %>
                                                          <%# StopName colored when arrived to stop %>
                                                          <% } else if (vehicle.stopSequence >= stop.stopSequence && vehicle.status !== 'IN_TRANSIT_TO') { %>
                                                              <% if (stop.predictedArrivalTime !== "Invalid Date") { %>
                                                                  <span class="leftstopsH9"><%= stop.stopId %></span>
                                                                  <td><span class="leftstopsH9"><%= stop.predictedArrivalTime %></span></td>
                                                              <% } else { %>
                                                                  <span class="leftstopsH9"><%= stop.stopId %></span>
                                                                  <td><span class="leftstopsH9"><%= stop.predictedDepartureTime %></span></td>
                                                              <% } %>
                                                          <%# StopName not colored %>
                                                          <% } else { %>
                                                            <span class="notleftstops"><%= stop.stopId %></span>
                                                            <td><%= stop.predictedArrivalTime %></td>
                                                          <% } %>
                                                      </td>
                                                  </tr>
                                              <% }); %>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <% } %>
              </div>
          </div>
      <% }); %>
  </div>    
  </main>
  <footer class="d-flex bg-dark fixed-bottom flex-wrap justify-content-center align-items-center px-5 py-3 border-top mb-0">
    <p class="col-12 col-md-4 mb-3 mb-md-0 text-center text-md-start text-light">© 2024 RapidTrack</p>

    <a href="/home" class="col-12 col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
      <svg height="45" viewBox="0 0 831 819" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M801 409.5C801 618.682 628.819 789 415.5 789C202.181 789 30 618.682 30 409.5C30 200.318 202.181 30 415.5 30C628.819 30 801 200.318 801 409.5Z" stroke="#CFCFCF" stroke-width="60"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M415.5 724C591.955 724 735 583.194 735 409.5C735 235.806 591.955 95 415.5 95C239.045 95 96 235.806 96 409.5C96 583.194 239.045 724 415.5 724ZM423.486 202H260V617H347.611V482.449H421.26C453.094 482.449 480.207 476.573 502.6 464.82C525.125 453.067 542.324 436.653 554.195 415.579C566.064 394.505 572 370.188 572 342.63C572 315.071 566.133 290.755 554.396 269.681C542.797 248.471 525.936 231.923 503.812 220.035C481.691 208.011 454.916 202 423.486 202ZM347.611 412.134H407.098C423.959 412.134 437.852 409.23 448.777 403.421C459.84 397.477 468.068 389.304 473.463 378.902C478.994 368.365 481.758 356.274 481.758 342.63C481.758 328.851 478.994 316.827 473.463 306.561C468.068 296.158 459.84 288.121 448.777 282.447C437.717 276.638 423.689 273.733 406.693 273.733H347.611V412.134Z" fill="#CFCFCF"/>
        </svg>        
    </a>

    <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end mb-0">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-light">Főoldal</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">GYIK</a></li>
      <li class="nav-item"><a href="https://github.com/mrdavehun21/RapidTrack" class="nav-link px-2 text-light">GitHub</a></li>
    </ul>
  </footer>
    
  <script>
    // Function to fetch data from the server using AJAX
    function fetchData() {
        // Make a GET request to the server
        fetch('/home/vonatokH9')
            .then(response => response.text())
            .then(data => {
                // Save the currently expanded accordion item IDs
                const expandedItems = [];
                document.querySelectorAll('.accordion-collapse.show').forEach(item => {
                    expandedItems.push(item.id);
                });

                // Update the vehicles container with the received HTML data
                document.getElementById('vehicles-container').innerHTML = data;

                // Restore the state of expanded accordion items
                expandedItems.forEach(itemId => {
                    const item = document.getElementById(itemId);
                    item.classList.add('show');
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                // Handle error
            });
    }

    // Call fetchData when the page loads initially
    window.onload = function () {
        fetchData(); // Fetch data immediately when the page loads

        // Set up a timer to fetch data every 30 seconds
        setInterval(fetchData, 30000); // 30 seconds = 30000 milliseconds
    }

    // Function to toggle extra info
    function toggleInfo(licensePlate) {
        const extraInfo = document.getElementById('extraInfo' + licensePlate);
        extraInfo.style.display = extraInfo.style.display === 'none' ? 'block' : 'none';
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>