<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/vonatok.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Vonatok</title>
</head>
<body class="bg-secondary bg-gradient">
    <header>
        <nav class="navbar bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
            <div class="container-sm">
              <h1 class="navbar-brand">MXA Motorkocsik</h1>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%= dateForDesign.replace('at', '') %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/home">Home</a>
                      
                    </li>
                  </ul>
                  <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
      <br><br>
      <% const licensePlates = [
        {
            "palyaszam": ['977', '978'],
            "indexNum": [1]
        },
        {
            "palyaszam": ['975', '976'],
            "indexNum": [1, 2]
        },
        {
            "palyaszam": ['979', '980'],
            "indexNum": [2]
        },
        {
            "palyaszam": ['981', '982'],
            "indexNum": [2, 2]
        },
        {
            "palyaszam": ['989', '990'],
            "indexNum": [3]
        },
        {
            "palyaszam": ['987', '988'],
            "indexNum": [3, 2]
        },
        {
            "palyaszam": ['991', '992'],
            "indexNum": [4]
        },
        {
            "palyaszam": ['993', '994'],
            "indexNum": [4, 2]
        },
        {
            "palyaszam": ['995', '996'],
            "indexNum": [5]
        },
        {
            "palyaszam": ['997', '998'],
            "indexNum": [5, 2]
        },
        {
            "palyaszam": ['1101', '1102'],
            "indexNum": [6]
        },
        {
            "palyaszam": ['1135', '1136'],
            "indexNum": [6, 2]
        },
        {
            "palyaszam": ['1103', '1104'],
            "indexNum": [7]
        },
        {
            "palyaszam": ['1105', '1106'],
            "indexNum": [7, 2]
        },
        {
            "palyaszam": ['1118', '1117'],
            "indexNum": [8]
        },
        {
            "palyaszam": ['1116', '1115'],
            "indexNum": [8, 2]
        },
        {
            "palyaszam": ['1119', '1120'],
            "indexNum": [9]
        },
        {
            "palyaszam": ['1121', '1122'],
            "indexNum": [9, 2]
        },
        {
            "palyaszam": ['1127', '1128'],
            "indexNum": [10]
        },
        {
            "palyaszam": ['1129', '1130'],
            "indexNum": [10, 2]
        },
        {
            "palyaszam": ['1123', '1124'],
            "indexNum": [11]
        },
        {
            "palyaszam": ['1139', '1140'],
            "indexNum": [11, 2]
        },
        {
            "palyaszam": ['1137', '1138'],
            "indexNum": [12]
        },
        {
            "palyaszam": ['971', '972'],
            "indexNum": [12, 2]
        },
        {
            "palyaszam": ['1131', '1132'],
            "indexNum": [13]
        },
        {
            "palyaszam": ['1133', '1134'],
            "indexNum": [13, 2]
        },
        {
            "palyaszam": ['1146', '1145'],
            "indexNum": [14]
        },
        {
            "palyaszam": ['1113', '1114'],
            "indexNum": [14, 2]
        },
        {
            "palyaszam": ['984', '983'],
            "indexNum": [15]
        },
        {
            "palyaszam": ['1149', '1150'],
            "indexNum": [15, 2]
        }
      ]  
    %>
    
      <div class="container-lg">
        <% vehicles.forEach(vehicle => { %>
            <div class="card mb-3">
                <div class="card-header">
                  <h5 class="card-title font">
                    <%# Splitting into 2 %>
                    <% const [part1, part2] = vehicle.licensePlate.split("-"); %>
                    <% const items = licensePlates.filter(item => item.palyaszam.includes(part1) || item.palyaszam.includes(part2)); %>
                    <% items.forEach(item => { %>
                      <%= `${item.palyaszam[0]}-${item.palyaszam[1]}` %>
                    <% }); %>
                    ||
                    <% if(!vehicle.licensePlate.includes('-')) { %>
                      3-as kocsi ||
                    <% } %>
                    <%= vehicle.licensePlate %>
                  </h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Jelenleg <%= vehicle.stopName %>
                      <% if (vehicle.status === 'IN_TRANSIT_TO') { %>
                          megálló felé közlekedik
                      <% } else { %>
                          megállóban áll
                      <% } %>
                    </p>
                    <p class="card-text">
                      <% if (vehicle.tripHeadsign == 'Szentendre') { %>
                        <img  src="../icons/celfilmek/Endre.png" alt="Szentendre" class="celfilm">
                      <% } %>
                      <% if (vehicle.tripHeadsign === 'Békásmegyer') { %>
                        <img  src="../icons/celfilmek/Bekas.png" alt="Békásmegyer" class="celfilm">
                      <% } %>
                      <% if (vehicle.tripHeadsign === 'Batthyány tér') { %>
                        <img  src="../icons/celfilmek/Bter_old.png" alt="Batthyány tér" class="celfilm">
                      <% } %>
                    </p>
                    
                    <!-- Collapsible section for Stops -->
                    <div class="accordion" id="accordionStops<%= vehicle.index %>">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingStops<%= vehicle.index %>">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStops<%= vehicle.index %>" aria-expanded="true" aria-controls="collapseStops<%= vehicle.index %>">
                                    Stops
                                </button>
                            </h2>
                            <div id="collapseStops<%= vehicle.index %>" class="accordion-collapse collapse" aria-labelledby="headingStops<%= vehicle.index %>" data-bs-parent="#accordionStops<%= vehicle.index %>">
                                <div class="accordion-body">
                                    <table class="table stop-table pt-5">
                                        <thead>
                                            <tr>
                                                <th scope="col">Stop ID</th>
                                                <th scope="col">Predicted Arrival Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% const vehicleStops = stopsByVehicle[vehicle.vehicleId] || []; %>
                                          <% let validPredictedArrivalTimeExists = false; %>
                                          <% vehicleStops.forEach((stop, index) => { %>
                                              <% if (stop.predictedArrivalTime !== "Invalid Date") { %>
                                                  <tr>
                                                      <td><%= stop.stopId %></td>
                                                      <td><%= stop.predictedArrivalTime %></td>
                                                  </tr>
                                                  <% validPredictedArrivalTimeExists = true; %>
                                              <% } %>
                                          <% }); %>
                                      </tbody>                                                 
                                    </table>
                                    <% if (!validPredictedArrivalTimeExists) { %>
                                      <img src="/icons/celfilmek/NIS.png" alt="Not in service" class="img-fluid rounded">
                                    <% } %>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Collapsible section for Stops -->
                </div>
            </div>
        <% }); %>
    </div>    
    </main>
</body>
<script>
  // Disable context menu
  document.addEventListener('contextmenu', function(event) {
            event.preventDefault();
    });
</script>

</html>